@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond&family=Open+Sans:ital,wght@0,400;1,300&display=swap');


.home-background {
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/homebg.webp);
    background-size: 100% 100%;
    height: 600px;
}

.iletisim-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/contact.webp);
  background-size: 100% 100%;
  height: 600px;
}

.blog-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/blog.jpeg);
  background-size: 100% 100%;
  height: 600px;
}

.line-break {
  white-space: pre-wrap;
}

.markdown > * {
  all: revert;
}
.calisma-alan-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/calisma-alan.webp);
  background-size: 100% 100%;
  height: 600px;
}

.about-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/hakkimizda.webp);
  background-size: 100% 100%;
  height: 600px;
}

.reasurans-bg {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/reasurans.webp);
  background-size: 100% 100%;
  height: 600px;
}

.calisma-bg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.8)) , url(../assets/images/calisma.webp);
  background-size: 100% 100%;
  height: 600px;
}

.bg-1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/arabuluculuk.webp);
    background-size: 100% 100%;
}

.bg-2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/sozlesmeler-hukuk.webp);
    background-size: 100% 100%;
}

.bg-3 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/dava-takip.webp);
  background-size: 100% 100%;
}


.bg-4 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/icra.webp);
  background-size: 100% 100%;
}


.bg-5 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/is-hukuk.webp);
  background-size: 100% 100%;
}

.bg-6 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/saglik-hukuk.webp);
  background-size: 100% 100%;
}

.bg-7 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/sigorta-hukuk.webp);
  background-size: 100% 100%;
}

.bg-8 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/ticaret-ve-sirket.webp);
  background-size: 100% 100%;
}

.bg-9 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/tuketici.webp);
  background-size: 100% 100%;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
}

.logo{
    max-width: 40px;
}

.background-h, .background-p{
    text-shadow: 1px 1px 1px black;
}

.card {
    display: flex;
    align-items: center;
  }
  
  .cardImage {
    flex-shrink: 0;
    position: relative;
    height: 96px;
    width: 96px;
  }
  
  .card img {
    border-radius: 8px;
    object-fit: cover;
  }
  
  .cardBody {
    margin-left: 16px;
  }
  
  .cardBody p {
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .cardBody h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
  }

@media (max-width: 576px) {
    .home-background {
        background-image:url(../assets/images/homebg.webp);
        background-size: 100% 100%;
        height: 400px;
    }
    .home-background {
      background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/homebg.webp);
      background-size: 100% 100%;
      height: 400px;
  }
  
  .iletisim-bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/contact.webp);
    background-size: 100% 100%;
    height: 400px;
  }
  
  
  .calisma-alan-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/calisma-alan.webp);
    background-size: 100% 100%;
    height: 400px;
  }
  
  .about-bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/hakkimizda.webp);
    background-size: 100% 100%;
    height: 400px;
  }
  
  .reasurans-bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/reasurans.webp);
    background-size: 100% 100%;
    height: 400px;
  }
  
  .calisma-bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.327),rgba(0, 0, 0, 0.5)) , url(../assets/images/calisma.webp);
    background-size: 100% 100%;
    height: 400px;
  }
  }
